html
  head
    title myHomeCAN
    include includes/head.pug
    script(src='script/client.js')
    script(src='script/lib/plotly-latest.min.js')
    script(src='script/myutil.js')
  body
    include includes/toc.pug
    // main container
    div(class='w3-main' style='margin-left:250px')
      // responsive headline on small screens
      div(class='w3-container w3-top w3-theme w3-large' id='myTop')
        p
          i(class='fa fa-bars w3-button w3-teal w3-hide-large w3-xlarge'
            onclick='w3_open()')
        span(class='w3-hide' id='myIntro') myHomeCAN Hauptseite :)
      
      // responsive headline on wide screens
      header(class='w3-container w3-theme' style='padding:46px 32px') 
        h1(class='w3-xxxlarge') myHomeCAN Hauptseite 
        div(class='w3-right')='V'+commonData.curver
      div(class='w3-container w3-light-grey')
        h1 Status Übersicht
        h2 Wetter
        a(class='w3-button w3-margin-left w3-theme-l3' target='_blank' href='https://openweathermap.org/api') https://openweathermap.org/api
        br
        //button(class='w3-button w3-theme-l3' onclick='client.weatherClick()') wetter daten holen
        div(class='w3-row')
          div(class='w3-container w3-third')
            div(class='w3-card w3-dark-grey')
              h3(class='w3-margin-left') Aktuell
              
              table(class='w3-table-all' )
                tr(class='w3-hover-light-blue') 
                  td Zeitstempel
                  td
                    p(id='dt') 20:47:53 Uhr
                tr(class='w3-hover-light-blue') 
                  td Temperatur
                  td
                    p(id='temp') 22 °C
                tr(class='w3-hover-light-blue') 
                  td Windgeschwindigkeit
                  td
                    p(id='wind_speed') 3 km/h
                tr(class='w3-hover-light-blue') 
                  td Sonnenaufgang
                  td
                    p(id='sunrise') 18:00:00 Uhr
                tr(class='w3-hover-light-blue') 
                  td Sonnenuntergang
                  td
                    p(id='sunset') 06:00:00 Uhr
                tr(class='w3-hover-light-blue') 
                  td Luftdruck
                  td
                    p(id='pressure') 1006 hPa
                tr(class='w3-hover-light-blue') 
                  td Luftfeuchtigkeit
                  td
                    p(id='humidity') 74 %
                tr(class='w3-hover-light-blue') 
                  td Taupunkt
                  td
                    p(id='dew_point') 14 °C
                tr(class='w3-hover-light-blue') 
                  td Windrichtung
                  td
                    p(id='wind_deg') 260°
                tr(class='w3-hover-light-blue') 
                  td Bewölkt
                  td
                    p(id='clouds') 33 %
                  
                      
          div(class='w3-container w3-rest')
            div(class='w3-card w3-dark-grey')
              h3(class='w3-margin-left') Vorhersage Stunden 
              div(style='height:200px;overflow:auto;')
                div(class='w3-card w3-light-grey')
                  table(id='tbl_weather_hourly' class='w3-table-all')
                    - var i=0;
                    while i < 48
                      tr(class='w3-hover-light-blue w3-blue-gray') 
                        td= i++ +':00 Uhr'
                        td 
                          img(src='http://openweathermap.org/img/wn/10d@2x.png' style='width:75px;') 
                        td 27 °C
                        td 0.1 l/qm
                        td 27 km/h
                    
            div(class='w3-card w3-dark-grey')
              h3(class='w3-margin-left') Vorhersage Tage 
              div(style='height:200px;overflow:auto;')
                table(id='tbl_weather_daily' class='w3-table-all')
                  tr(class='w3-hover-light-blue') 
                    th 
                    th 
                    th
                    th Morgens
                    th Tags
                    th Abends
                    th Nachts
                  - var i=0;
                  while i < 8
                    tr(class='w3-hover-light-blue w3-blue-gray') 
                      td= i++ +'.7.2020'
                      td
                        img(src='http://openweathermap.org/img/wn/10d@2x.png' style='width:75px;')
                      td 1 l/qm
                      td 
                        p(id='dailyTmorn') 10 °C
                      td 
                        p(id='dailyTday') 25 °C
                      td 
                        p(id='dailyTeve') 20 °C
                      td 
                        p(id='dailyTnight') 5 °C
                  

        p Kalender
        hr
        p ...
        hr
        meter(class= 'tank_meter' min=0 max=100 low=10 value=48)

        form(
          oninput= "x.value=parseInt(a.value)"
        )
          input(type= 'range' name= 'a')
          output(name= 'x')
        h3 Entwurf für eigenes Logo
        p Erstellt mit octave und modifiziert mit inkscape. Enthält DB gedreht :)
          |  Script:
        div(class='w3-code') 
          | x=0:0.01:2*pi;
          br
          | y1=2*sin(x/2);
          br
          | y2=abs(sin(x));
          br
          | fill(x,y1,1,x,y2,2)

        img(src='./images/dblogo.svg' width='800')
        h3 Plot Bibliothek
        a(class='w3-button w3-theme-l3' target='_blank' href='https://www.plotly.com/') https://www.plotly.com/
        div(id='plotlytest')
      include includes/footer.pug
